@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

html, body, #root{
    width: 100dvw;
    height: 100dvh;
    background-color: white;
}

.c-new{
    font-family: 'Courier New';
    font-weight: bolder;
}

/* .c-prm{
} */

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
}